@font-face {
    font-family: 'Josefin';
    src: url(ignore/JosefinSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Josefin';
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    height: 35vh;
    width: 100%;
    background-image: url(ignore/bg-desktop-dark.jpg);
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

#background {
    height: 65vh;
    width: 100%;
    background-color: #161722;
    position: relative;
}

main {
    height: 500px;
    width: 33%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.main-item {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    color: #fafafa;
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
}

#theme-icon {
    height: 95%;
    width: auto;
}

#todo-maker, #todo-maker label {
    border-radius: 5px;
}

.todo-item, .list-item {
    height: 3.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: hsl(235, 24%, 19%);
}

label {
    height: 100%;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(235, 24%, 19%);
    cursor: pointer;
}

.checkbox  {
    height: 0;
    width: 0;
}

.custom-check {
    height: 4.3%;
    width: 4.3%;
    border-radius: 50%;
    border: #787b91 solid 2px;
    position: absolute;
    z-index: 3;
}

label.check-label:hover > .custom-check {
    height: 4.3%;
    width: 4.3%;
    border-radius: 50%;
    border: none;
    background-clip: padding-box ;
    background-image: linear-gradient(to right, #57ddff4a, #bf59f252)
}

label.check-label input:checked + .custom-check {
    height: 4.3%;
    width: 4.3%;
    border-radius: 50%;
    border: none;
    background: rgb(87,221,255);
    background: linear-gradient(45deg, rgba(87,221,255,1) 0%, rgba(191,89,242,1) 100%);
}

label.check-label:hover input:checked + .custom-check {
    border: none
}

.checked {
    color: #38394d;
}

.chore-name {
    height: 100%;
    width: 100%;
    border: none;
    outline-style: none;
    font-size: 18px;
    font-weight: 400;
    color:hsl(234, 39%, 85%);
    display: flex;
    align-items: center;
    background-color: transparent;
}

input::placeholder {
    font-weight: 400;
    color: #787b91;
}

#todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#list-management.with-items{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 900;
    font-size: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: hsl(235, 24%, 19%);
}

#list-management.no-items{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 900;
    font-size: 13px;
    border-radius: 5px;
    background-color: hsl(235, 24%, 19%);
}

.management-item {
    height: 100%;
}

#list-management button{
    height: 100%;
    border: none;
    cursor: pointer;
    color: #787b91;
    background-color: transparent;
    transition: 0.2s;
}

#list-management button:hover {
    color: hsl(236, 33%, 92%);
}

.management-item #many-left {
    height: 100%;
}

.management-item#filters {
    display: flex;
    justify-content: space-between;
    width: 9rem;
}